
/* -RatingsBreakDown- */

.RatingsBreakdownContainer {
  /* border: 2px solid black; */
  width: 250px;
  white-space: nowrap;
  height: 100%;
  margin-right: 20px;
}

.RR-AverageRating {
  font-size: 60px;
  margin: 10px 0px 10px 0px
}

.average-star-render {
  display:flex;
  /* align-items: center; */
}

/* -RatingBar */

.RatingsBarContainer{
  /* border: 2px solid black; */
  display: flex;
  border-radius: 2px;
  cursor: pointer;
  margin: 5px 0px 5px 0px;
}

.RatingsBarContainer:hover {
  background-color: lightgray;
}

.RatingsBarsBox {
  margin-bottom: 15px;
}

.RatingsBar {
  width: 90%;
  height: 5px;
  background-color: #D3D3D3;
  border-radius: 5px;
  margin: 5px;
}

.RatingsBarFill {
  height: 100%;
  background-color: #009900;
  border-radius: 8px;
}

.RatingsCount {
  width: 30px;
  /* border: 2px solid red; */
}

.percent-recommend {
  margin: 0px 0px 10px 0px;
  font-size: small;
}

.number-of-reviews {
  margin: 10px 0px 0px 0px;
  font-size: small;
}


/* -CharacteristicBar */
.CharacteristicBarContainer {
  /* border: 2px solid black;
  border-radius: 8px; */
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}


.scaleBar {
  position: relative;
  height: 5px;
  background-color: #D3D3D3;
  border-radius: 5px;
  margin: 5px;
}

.averageIcon {
  position: absolute;
  font-size: 10px;
  color: black;
  transform: translateX(-50%); /* makes sure the triangle stays on bar*/
}

.scaleText {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  font-size: 12px;
  color: #888;
  color: black;
}



.reviews-view-buttons-container {
  display: flex;
}

.reviews-view-buttons {
  padding-right: 10px;
  margin: 10px 5px 10px 5px;
  height: 40px;
  border-radius: 0;
  background-color: white;
  border: 0.1px solid;
  border-color: black;
}

.reviews-view-buttons:hover {
  background-color: lightgray;
}

a:hover {
  text-decoration: underline;
}

.remove-filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: lightgray;
}


/* -Star */

.star-rating-wrapper {
  color: #c5c5c5;
  font-size: 23px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-top: 20px;
}

.full-stars {
  color: rgb(2, 2, 2);
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

/* insert empty stars first thing */
.star-rating-wrapper::before {
  content: '★★★★★';
  display: block;
}

.full-stars::before {
  content: '★★★★★';
  display: block;
}







