.reviewsView {
  border: 2px solid blue;
  height: 100%;
  width: 500px;
  flex: 1;
}

.reviewsList {
  border: 2px solid red;
  overflow: scroll;
  width: 99%;
  max-height: 70vh;
}

.reviewTile {
  border-bottom: 2px solid black;
  margin: 10px;
}
.userNameBar {
  display: flex;
  justify-content: space-between;
}


