:root {
  --background_color_1: rgb(196, 196, 196); /*related_product_card*/
  --background_color_2: rgb(216, 216, 216);
  --border_color_1: rgb(175, 175, 175);
  --related_products_gap: 20px;
  --related_product_card_width: 250px;
  --related_product_card_height: 500px;
  --product_card_image_width: 235px;
  --product_card_image_height: 300px;
  --related_product_card_prev_next_img_offest: 0;
  --related_product_card_prev_next_img_height: 35px;
  --related_products_arrow_height: 50px;
}

.related_items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.related_items * {
  border: 0px solid black;
  box-sizing: border-box;
}

.product_card_name {
  font-size: 18;
  text-decoration: underline;
}

.related_product_card {
  display: flex;
  flex-direction: column;
  padding: 0 calc((var(--related_product_card_width) - var(--product_card_image_width)) / 2) 0 calc((var(--related_product_card_width) - var(--product_card_image_width)) / 2);
  position: relative;
  width: var(--related_product_card_width);
  height: var(--related_product_card_height);
  background-color: var(--background_color_1);
  z-index: 0;
  border: 5px outset var(--border_color_1);
  box-sizing: border-box;
}

.related_product_card p {
  margin: 3px;
}

.related_product_card > p:first-child {
  max-height: 220px;
}

.related_product_card:hover > .related_product_prev_pic,
.related_product_card:hover > .related_product_next_pic {
  opacity: 1;
}

.related_items_action_button_heart,
.related_items_action_button_x {
  display: flex;
  position: absolute;
  top: 15px;
  right: 15px;
}

.related_items_action_button_heart {
  color: red;
  background-color: rgba(255, 255, 255, 0);
}


.related_items_action_button_x {
  color: black;
  background-color: rgb(145, 145, 145);
}

#add_item_to_outfit,
#remove_item_from_outfit {
  display: flex;
  flex-direction: column;
  padding: calc((var(--related_product_card_width) - var(--product_card_image_width)) / 2);
  width: calc(var(--related_product_card_width) / 2);
  min-width: calc(var(--related_product_card_width) / 2);
  height: var(--related_product_card_height);
  z-index: 0;
  border: 5px outset var(--border_color_1);
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
}

#add_item_to_outfit {
  background-color: green;
  color: whitesmoke;
}

#remove_item_from_outfit{
  background-color: red;
}

#related_products,
#your_outfit {
  display: inline-flex;
  overflow: auto;
  gap: var(--related_products_gap);
  position: relative;
  max-width: 100%;
  scrollbar-width: none;
}

#related_products::-webkit-scrollbar,
#your_outfit::-webkit-scrollbar {
  display: none;
}

.related_product_prev_pic,
.related_product_next_pic {
  position: absolute;
  background-color: green;
  color: white;
  height: var(--related_product_card_prev_next_img_height);
  top: calc(var(--product_card_image_height) / 2 - var(--related_product_card_prev_next_img_height) / 2);
  z-index: 1;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.related_product_prev_pic {
  left: var(--related_product_card_prev_next_img_offest);
}

.related_product_next_pic {
  right: var(--related_product_card_prev_next_img_offest);
}

.product_card_image {
  min-width: var(--product_card_image_width);
  min-height: var(--product_card_image_height);
  width: var(--product_card_image_width);
  height: var(--product_card_image_height);
  z-index: -1;
  position: relative;
  object-fit: cover;
  object-position: center;
  align-self: center;
  top: -15px;
}

.product_card_default_price_span {
  text-decoration: line-through;
}

.product_card_sale_price_span {
  color: red;
  background-color: greeny;
}

.product_card_reviews {
  text-wrap: nowrap;
}

#related_products_outer_div,
#your_outfit_outer_div {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  max-width: 100%;
}

.related_products_left_arrow_button,
.related_products_right_arrow_button,
.your_outfit_left_arrow_button,
.your_outfit_right_arrow_button {
  display: flex;
  height: var(--related_products_arrow_height);
  align-self: center;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: calc(var(--related_product_card_height) / 2 - var(--related_products_arrow_height) / 2);
  opacity: 0;
}

.related_products_left_arrow_button *,
.related_products_right_arrow_button *,
.your_outfit_left_arrow_button *,
.your_outfit_right_arrow_button * {
  height: 100%;
  width: auto;
  color: green;
}

.related_products_left_arrow_button,
.your_outfit_left_arrow_button {
  opacity: 0;
  transition: opacity .5s ease-in-out;
  left: 20px;
}

.related_products_right_arrow_button,
.your_outfit_right_arrow_button {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  right: 20px;
}

.related_products_left_arrow,
.related_products_right_arrow,
.your_outfit_left_arrow,
.your_outfit_right_arrow {
  height: var(--related_products_arrow_height);
}

#related_products_outer_div:hover .related_products_left_arrow_button,
#related_products_outer_div:hover .related_products_right_arrow_button,
#your_outfit_outer_div:hover .your_outfit_left_arrow_button,
#your_outfit_outer_div:hover .your_outfit_right_arrow_button,
#gradient_effect:hover .related_products_right_arrow_button,
#gradient_effect:hover .your_outfit_right_arrow_button {

  opacity: 1;
}

.comparison_modal_outer_div {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.comparison_modal {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: auto;
}

.comparison_modal_row {
  display: flex;
}

.comparison_modal_row * {
  display: flex;
  width: 125px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.comparison_modal_row > div:first-child {
  background-color: green;
  border: 2px solid black;
  color: whitesmoke;
  padding: 5px;
}

.comparison_modal_column {
  border: 2px solid black;
  padding: 5px;
}