.related_product_card {
  border: 2px solid black;
  box-sizing: border-box;
}

.related_product_card * {
  border: 2px solid black;
  box-sizing: border-box;
}

#related_products {
  display: flex;
}

.product_card_sale_price {
  background-color: red;
}
