:root {
  --color_1: rgb(196, 196, 196);
  --color_2: rgb(175, 175, 175);
  --color_3: green;
  --color_4: black;
  --color_5: red;
  --color_6: rgb(145, 145, 145);
  --color_7: whitesmoke;
  --color_8: rgba(255, 255, 255, 0);
  --color_9: rgb(118, 107, 34);
  --related_products_gap: 20px;
  --related_product_card_width: 250px;
  --related_product_card_height: 500px;
  --product_card_image_width: 235px;
  --product_card_image_height: 300px;
  --related_product_card_prev_next_img_offest: 0;
  --related_product_card_prev_next_img_height: 35px;
  --related_products_arrow_height: 50px;
  --background_1: linear-gradient(to bottom right, #fff700, #59501d);
  --background_2: linear-gradient(to bottom right, #7d7d7d, #ded8d8);
}

.related_items {
  width: 100%;
  padding: 0 10% 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.related_items * {
  box-sizing: border-box;
}

.product_card_name {
  font-size: 18;
  text-decoration: underline;
}

.related_product_card {
  display: flex;
  flex-direction: column;
  padding: 0 calc((var(--related_product_card_width) - var(--product_card_image_width)) / 2) 0 calc((var(--related_product_card_width) - var(--product_card_image_width)) / 2);
  position: relative;
  width: var(--related_product_card_width);
  height: var(--related_product_card_height);
  background-color: var(--color_1);
  z-index: 0;
  border: 5px outset var(--color_2);
  box-sizing: border-box;
}

.related_product_card:hover {
  cursor: pointer;
}

.related_product_card p {
  margin: 3px;
}

.related_product_card > p:first-child {
  max-height: 220px;
}

.related_items_action_button_heart,
.related_items_action_button_x {
  display: flex;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: .2s background-color ease-in-out;
}

.related_items_action_button_heart:hover {
  background-color: var(--color_7);
}

.related_items_action_button_heart:hover,
.related_items_action_button_x:hover {
  cursor: pointer;
}

.related_items_action_button_heart {
  color: var(--color_5);
  background-color: var(--color_8);
  border: none;
  border-width: 2px !important;
  border-style: outset !important;
  border-color: buttonborder !important;
  border-image: initial !important;
}

.related_items_action_button_heart_clicked {
  background-color: var(--color_3) !important;
}


.related_items_action_button_x {
  color: var(--color_4);
  background-color: var(--color_6);
}

#add_item_to_outfit {
  display: flex;
  flex-direction: column;
  padding: calc((var(--related_product_card_width) - var(--product_card_image_width)) / 2);
  z-index: 0;
  border: 5px outset var(--color_2);
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
  background-color: var(--color_3);
  color: var(--color_4);
  align-items: center;
  font-size: 125px;
  height: auto;
  width: auto;
}

#related_products,
#your_outfit {
  display: inline-flex;
  overflow: auto;
  gap: var(--related_products_gap);
  position: relative;
  max-width: 100%;
  scrollbar-width: none;
  align-items: center;
  padding: 0 80px 0 80px;
}

#related_products::-webkit-scrollbar,
#your_outfit::-webkit-scrollbar {
  display: none;
}

.related_product_prev_pic,
.related_product_next_pic {
  position: absolute;
  background-color: var(--color_3);
  color: var(--color_7);
  height: var(--related_product_card_prev_next_img_height);
  top: calc(var(--product_card_image_height) / 2 - var(--related_product_card_prev_next_img_height) / 2);
  z-index: 1;
  opacity: 0;
}

.related_product_prev_pic {
  left: var(--related_product_card_prev_next_img_offest);
}

.related_product_next_pic {
  right: var(--related_product_card_prev_next_img_offest);
}

.product_card_image {
  min-width: var(--product_card_image_width);
  min-height: var(--product_card_image_height);
  width: var(--product_card_image_width);
  height: var(--product_card_image_height);
  z-index: -1;
  position: relative;
  object-fit: cover;
  object-position: center;
  align-self: center;
  top: -15px;
}

.product_card_default_price_span {
  text-decoration: line-through;
}

.product_card_sale_price_span {
  color: var(--color_4);
  background-color: var(--color_5);
}

.product_card_reviews {
  text-wrap: nowrap;
}

#related_products_outer_div,
#your_outfit_outer_div {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
}

.related_products_left_arrow_button,
.related_products_right_arrow_button,
.your_outfit_left_arrow_button,
.your_outfit_right_arrow_button {
  display: flex;
  align-self: center;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: calc(var(--related_product_card_height) / 2 - var(--related_products_arrow_height) / 2);
  opacity: 0;
  color: var(--color_3);
  height: auto;
  width: auto;
  font-size: 50px;
  border-radius: 25px;
}

.related_products_left_arrow_button,
.your_outfit_left_arrow_button {
  opacity: 0;
  transition: opacity .2s ease-in-out;
  left: 20px;
}

.related_products_right_arrow_button,
.your_outfit_right_arrow_button {
  opacity: 0;
  transition: opacity, border .2s ease-in-out;
  right: 20px;
}

.related_products_left_arrow,
.related_products_right_arrow,
.your_outfit_left_arrow,
.your_outfit_right_arrow {
  height: var(--related_products_arrow_height);
}

#related_products_outer_div:hover .related_products_left_arrow_button,
#related_products_outer_div:hover .related_products_right_arrow_button,
#your_outfit_outer_div:hover .your_outfit_left_arrow_button,
#your_outfit_outer_div:hover .your_outfit_right_arrow_button,
#gradient_effect:hover .related_products_right_arrow_button,
#gradient_effect:hover .your_outfit_right_arrow_button,
.related_product_card:hover > .related_product_prev_pic,
.related_product_card:hover > .related_product_next_pic {
  opacity: .5;
  color: var(--color_3);
  background-color: var(--color_8);
  border: none;
}

.related_products_left_arrow_button:hover,
.related_products_right_arrow_button:hover,
.your_outfit_left_arrow_button:hover,
.your_outfit_right_arrow_button:hover,
.related_product_prev_pic:hover,
.related_product_next_pic:hover {
  opacity: 1 !important;
  cursor: pointer;
  color: var(--color_3) !important;
  background-color: var(--color_7) !important;
}

.related_product_prev_pic:hover,
.related_product_next_pic:hover {
  border-width: 2px !important;
  border-style: outset !important;
  border-color: buttonborder !important;
  border-image: initial !important;
}

.related_products_left_arrow_button:hover,
.related_products_right_arrow_button:hover,
.your_outfit_left_arrow_button:hover,
.your_outfit_right_arrow_button:hover {
  background-color: var(--color_7);
}

.comparison_modal_outer_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background_2);
  z-index: 1;
  border-width: 2px !important;
  border-style: outset !important;
  border-color: buttonborder !important;
  border-image: initial !important;
  margin-top: 50px;
  padding: 10px 40px 10px 40px;
}

.comparison_modal_outer_div > p:first-child {
  background-color: var(--color_7);
  margin: 0;
  padding: 15px;
  border: 2px solid black;
}

.comparison_modal {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: auto;
  background-color: var(--color_7);
}

.comparison_modal_row {
  display: flex;
}

.comparison_modal_row * {
  display: flex;
  width: 125px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.comparison_modal_row > div:first-child {
  background-color: var(--color_3);
  color: var(--color_7);
  padding: 5px;
}

.comparison_modal_column {
  border: 2px solid var(--color_4);
  padding: 5px;
}

.comparison_div * {
  transition: .2s height ease-in-out;
}

.comparison_div_closed * {
  margin: 0;
  padding: 0;
  border: 0 !important;
  height: 0;
}

#related_products_label,
#your_outfit_label {
  display: flex;
  position: relative;
  border: 10px outset var(--color_9);
  font-size: x-large;
  padding: 0 10px 0 10px;
  background: var(--background_1);
  color: var(--color_4);
  margin: 20px 0 20px 0;
  pointer-events: none;
}

.full_stars,
.empty_stars {
  position: relative;
}

.full_stars::before,
.empty_stars::before {
  content: '★★★★★';
}

.full_stars {
  z-index: 2;
  overflow: hidden;
  color: var(--color_4)
}

.empty_stars {
  z-index: 1;
  top: -20px;
  color: var(--color_7);
}

@media screen and (max-width: 899px) {
  .related_items {
    padding: 0;
  }
}
