.overview {
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.left-section, .right-section {
  display: flex;
  flex-direction: column;
}

.image-gallery-wrapper {
  flex-grow: 1;
}

/* Left side */

.image-container {
  padding: 10px;
}

.image-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-container {
  background-color: #e9e7e7;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  margin-bottom: 40px;
  position: relative;
  width: 90%;
  height: 450px;
}

.expand-collapse-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  cursor: pointer;
}

.image-gallery.expanded .expand-collapse-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1010;
}

.main-image {
  position: relative;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-image {
  width: 65%;
  height: auto;
  object-fit: contain;
}



.thumbnail-gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 40px;
}

.thumbnail-button img {
  width: 45px;
  height: 45px;
  border: 1px solid rgb(141, 134, 134);
  object-fit: cover;
}

.thumbnail-button {
  background: none;
  border: none;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  display: block;
}

/* expanded gallery container
.image-gallery.expanded .gallery-container {
  width: calc(100% + 90vw - 110% );
  z-index: 29;
  right: -30%;
}

.image-gallery.expanded .main-image {
  width: 90%;
  height: 100%;
}

.image-gallery.expanded .active-image {
  width: 90%;
  height: 100%;
  object-fit: cover;
}

*/

.image-gallery.expanded .gallery-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.image-gallery.expanded .main-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-gallery.expanded .active-image {
  width: 40vw;
  height: 40vw;
  /* aspect ratio */
  width: auto;
  height: auto;
}

.image-gallery.expanded .slogan-description-wrapper {
  position: static;
}

/* right-section is hidden when  expanded */

.image-gallery.expanded .right-section {
  display: none;
}



.selected {
  border: 1px solid rgb(151, 151, 249);
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: none;
  border: none;
}

.left-arrow {
  left: -40px;
}

.right-arrow {
  right: -20px;
}

/* Right side */

.product-description {
  text-align: left;
}

.slogan {
  text-align: left;
  font-weight: bold;
  font-size: 1.5em;
  order: -1;
  margin-bottom: 20px;
}

/* category */
.product-information h3 {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* item name */
.product-information h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 10px;
}

.price {
  display: flex;
  align-items: baseline;
  gap: 5px;
  margin-bottom: 10px;
  font-size: 1em;
}

.sale-price {
  font-size: 1em;
  font-weight: bold;
}

.original-price {
  font-size: 1em;
  text-decoration: line-through;
}

.selectors-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;
}

/* button styles */

.size-selector {
  flex-grow: 1;
}

.quantity-selector {
  flex-grow: 1;
}

.add-to-cart-button-container {
  margin-top: 10px;
}

.add-to-cart-button {
  width: 100%;
  padding: 10px 20px;
}

.slogan-description-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin-left: 20vw;
  margin-bottom: 30px;
}

.slogan-description-container {
  display: flex;
  flex-direction: column;
}

.vertical-divider {
  width: 2px;
  background-color: rgb(10, 9, 9);
  height: 100%;
  align-self: stretch;
  margin-bottom: 20px;

}

.filler-text {
  display: block;
  margin-left: 20px;
  white-space: nowrap;
  line-height: 1.6;
}

.slogan {
  font-weight: bold;
  font-size: 1.2em;
}

.description {
  font-size: 1em;
  margin-top: 0.5px;
}

html {
  scroll-behavior: smooth;
}

/* social media */

.social-media-share {
  margin-bottom: 10px;
}

.social-media-share a {
  margin-right: 10px;
}

.social-media-share svg {
  width: 20px;
  height: 20px;
}

/* font work */
